@import 'mixins';
@import 'primitives';
@import 'variables';

header {
	background: $nani_red;
	z-index: 999;
	display: flex;

	@include respondTo(desktop) {
		height: 100vh;
		width: 140px;
		float: left;
		border-right: 1px solid $nani_red;
		box-shadow: 2px 0px 2px -1px $nani_red;
		position: fixed;
		flex-flow: column wrap;
		justify-content: space-between;
	}

	@include respondTo(smartphone) {
		height: 80px;
		width: 100%;
		position: relative;
		flex-flow: row nowrap;
		align-items: center;
	}

	.logo {
		width: 85%;
		margin: 5px auto;

		@include respondTo(smartphone) {
			width: 200px;
			margin-left: 0.5em;
		}

		img {
			width: 100%;
		}
	}

	.nav__main {
		ul {
			margin-bottom: 1.4em;

			@include respondTo(smartphone) {
				margin-bottom: 0;
				transform: translateX(-70px);
			}

			li {
				a {
					display: block;
					padding: 10px 0px;
					text-decoration: none;
					color: $neutral_white;
					position: relative;

					@include respondTo(smartphone) {
						display: inline-block;
						padding: 0 0 5px 0;
					}

					@include respondTo(desktop) {
						&:before {
							content: "";
						  position: absolute;
						  width: 80%;
						  height: 2px;
						  bottom: 0;
						  left: 10%;
						  background-color: $neutral_white;
						  visibility: hidden;
						  transform: scaleX(0);
						  transition: all 0.3s ease-in-out 0s;
						}

						&:hover {
							&:before {
								visibility: visible;
	  						transform: scaleX(1);
							}
						}

						&.active {
							
						}
					}
				}
			}
		}
	}

	.nav__social {
		ul {
			@include respondTo(smartphone) {
				transform: translateX(-30px);
			}

			li {
				@include respondTo(smartphone) {
					display: inline;
				}
			}
		}
	}
}

.icons {
	&__fb {
		width: 20%;
		background: #3B5998;
		border-radius: 50%;
		padding: 10px;
		margin-top: 0px;
		transition: transform 0.3s ease-in-out;
		transform: scale(1);

		&:hover {
			transition: transform 0.5s ease-in-out;
			transform: scale(1.2);
		}

		@include respondTo(smartphone) {
			width: 6%;
		}
	}

	&__i {
		@extend .icons__fb;
		background: #125688;
		margin-top: 10px;
	}

	&__t {
		@extend .icons__fb;
		background: #00aced;
		margin-top: 10px;
	}
}