@import 'mixins';
@import 'primitives';
@import 'variables';

header {
	background: $nani_red;
	height: 100vh;
	width: 140px;
	float: left;
	border-right: 1px solid $nani_red;
	box-shadow: 2px 0px 2px -1px $nani_red;
	z-index: 999;
	position: fixed;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;

	.logo {
		width: 90%;
		margin: 5px auto;

		img {
			width: 100%;
		}
	}

	.nav__main {
		ul {
			margin-bottom: 1.4em;

			li {
				a {
					display: block;
					padding: 10px 0px;
					text-decoration: none;
					color: $neutral_white;
					position: relative;

					&:before {
						content: "";
					  position: absolute;
					  width: 80%;
					  height: 2px;
					  bottom: 0;
					  left: 10%;
					  background-color: $neutral_white;
					  visibility: hidden;
					  transform: scaleX(0);
					  transition: all 0.3s ease-in-out 0s;
					}

					&:hover {
						&:before {
							visibility: visible;
  						transform: scaleX(1);
						}
					}
				}
			}
		}
	}

	.nav__social {

	}
}

.icons {
	&__fb {
		width: 20%;
		background: #3B5998;
		border-radius: 50%;
		padding: 10px;
		margin-top: 0px;

		&:hover {
			transition: transform 0.5s ease-in-out;
			transform: scale(1.2);
		}
	}

	&__i {
		@extend .icons__fb;
		background: #125688;
		margin-top: 10px;
	}

	&__t {
		@extend .icons__fb;
		background: #00aced;
		margin-top: 10px;
	}
}