@import 'reset';

@import 'mixins';
@import 'primitives';
@import 'variables';

@import 'header';

main {
}

.video {
	float: right;
	width: 91%;

	video {
		width: 100% !important;
		height: auto !important;
	}

	.video-js {
		width: 100%;
	}

	@include respondTo(smartphone) {
		display: none;
	}
}

.images {
	float: right;
	width: 91%;
	height: 400px;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@include respondTo(desktop) {
		display: none !important;
	}

	@include respondTo(smartphone) {
		width: 100%;
	}
}

.doughnuts {
	width: 90%;
	min-height: 100vh;
	float: right;
	clear: right;
	padding-bottom: 2em;

	@include respondTo(smartphone) {
		width: 100%;
	}

	h1 {
		margin-top: -3px;
		padding-top: 1em;
		padding-bottom: 10px;
		margin-bottom: 1em;
		position: relative;

		&:after {
			content: '';

	    width: 40%;
	    position: absolute;
	    left: 30%;
	    bottom: 1px;

	    border-width: 0 0 1px;
	    border-style: solid;
		}
	}

	#instafeed {
		width: 100%;
		margin: 0 auto;

		.doughnut {
			margin: 0;
			transition: transform 0.5s ease-in-out;
			transform: scale(1);

			&:hover {
				transition: transform 0.5s ease-in-out;
				transform: scale(1.15);
				z-index: 999;
			}
		}
	}
}

.contact {
	@extend .doughnuts;

	form {
		input {
			&[type=text] {
				margin: 2em 0;
				padding: 0.5em;
				width: 40%;
				font-size: 1.1em;

				&:focus {
					outline: none;
				}

				@include respondTo(smartphone) {
					width: 80%;
				}
			}

			&[type=submit] {
				margin: 2em 0;
				background: $nani_red;
				color: $neutral_white;
				padding: 1em 2em;
    		border: 0;
    		cursor: pointer;
    		font-size: 0.8em;
			}
		}

		textarea {
			width: 40%;
			padding: 0.5em;
			font-size: 1.1em;

			&:focus {
				outline: none;
			}

			@include respondTo(smartphone) {
				width: 80%;
			}
		}
	}

	display: none;
}

.about {
	@extend .doughnuts;

	&__pic {
		background-image: url('/images/nani.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 275px;
		height: 275px;
		border-radius: 50%;
		margin: 2em auto;
	}

	&__description {
		margin: 1em auto;

		width: 40%;
		line-height: 1.4em;

		@include respondTo(smartphone) {
			width: 80%;
		}

		b {
			font-weight: 700;
		}
	}

	display: none;
}