/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Cabin:400,500,700);

/* Colors */
$light_blue: #0E4EAD;
$dark_blue: #0C0F66;
$neutral_white: #F2F2F2;
$text_gray: #323232;

$nani_red: #d05077;
