<header class="text-center">
	<a href="/" class="logo" title="Nani's Dough">
		<img src="/images/logo_with_text_vertical_white.png" alt="Nani's Dough">
	</a>

	<nav class="nav__social">
		<ul>
		  <li><a href="https://www.facebook.com/Nanis-1496806157314602" target="_blank" rel="nofollow" title="Facebook - Nani's Dough"><img class="icons__fb" src="/images/facebook.svg" alt="Facebook - Nani's Dough"></a></li>
		  <li><a href="https://www.instagram.com/nanisdough/" target="_blank" rel="nofollow" title="Instagram - Nani's Dough"><img class="icons__i" src="/images/instagram.svg" alt="Instagram - Nani's Dough"></a></li>
		</ul>
	</nav>

	<nav class="nav__main">
		<ul>
		  <li><a class="active" href="#" title="Doughnuts" >Doughnuts</a></li>
		  <li><a href="#" title="" title="Location">Location</a></li>
			<li><a href="#" title="" title="Contact">Contact</a></li>
			<li><a href="#" title="" title="About">About</a></li>
		</ul>
	</nav>
</header>