{% extends "layout.html" %}

{% block body %}
	<section class="video">
		<video loop>
			<source src="/videos/nanis_dough_v1.mp4" type="" media="video/mp4">
		</video>
	</section>


	<section class="doughnuts">
		<h1 class="text-center"> Doughnuts </h1>

		<div class="doughnuts__list text-center">
			<div class="doughnuts__doughnut">
				<img src="/images/doughnuts/avacado_chocolate.jpg" alt="Avacado Chocolate">
				<div class="doughnuts__doughnut_title">
					Avacado Chocolate
				</div>
				<div class="doughnuts__doughnut_description">
					Mashed Avacados Glaze with Chocolate Ganache
				</div>
			</div>
			<div class="doughnuts__doughnut">
				<img src="/images/doughnuts/cinnamon_sugar.jpg" alt="Avacado Chocolate">
				<div class="doughnuts__doughnut_title">
					Cinnamon Sugar
				</div>
				<div class="doughnuts__doughnut_description">
					Mashed Avacados Glaze with Chocolate Ganache
				</div>
			</div>
			<div class="doughnuts__doughnut">
				<img src="/images/doughnuts/pretzel.jpg" alt="Avacado Chocolate">
				<div class="doughnuts__doughnut_title">
					Chocolate Pretzel
				</div>
				<div class="doughnuts__doughnut_description">
					Mashed Avacados Glaze with Chocolate Ganache
				</div>
			</div>
		</div>
	</section>

	<section class="contact">
		<h1 class="text-center"> Contact </h1>
	</section>

	<section class="about">
		<h1 class="text-center"> About </h1>
	</section>
  
{% endblock %}
