{% extends "layout.html" %}

{% block body %}
	<section class="video">
		<video id="video" muted autoplay loop="loop" preload="auto" class="video-js" data-setup="{}">
			<source src="/videos/nanis_dough_v1.mp4" type="video/mp4" >
			<source src="/videos/nanis_dough_v1.webm" type='video/webm'>
			<p class="vjs-no-js">
	      To view this video please enable JavaScript, and consider upgrading to a web browser that
	      <a href="http://videojs.com/html5-video-support/" target="_blank" rel="nofollow">supports HTML5 video</a>
	    </p>
		</video>
	</section>

	<section class="images"></section>

	<section class="doughnuts">
		<h1 class="text-center"> My Dough </h1>

		<div id="instafeed">
		</div>

	</section>

	<section class="contact text-center">
		<h1> Contact </h1>

		<form id="contact_form" action="/contact" method="post" accept-charset="utf-8">
			<input type="text" name="from_email" placeholder="Email" required>
			<br/>
			<textarea name="from_body" placeholder="I love your dough!! Can you deliver one of each to me by tomorrow?" rows="10" required></textarea>
			<br/>
			<input type="submit" name="submit" value="SUBMIT">
		</form>
	</section>

	<section class="about text-center">
		<h1> About </h1>

		<div class="about__pic"></div>

		<div class="about__description">
			Hey, I'm <b> Nani. </b> I live and breath proper doughnuts with proper ingredients. Hit me up if you want to try 'em out. We're just starting up and are excited to be serving the Delray Beach, FL and nearby communities. 
			<br><br>
			Yes, you'll see me deliver it to you.
		</div>

	</section>
  
{% endblock %}
