<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta content="text/html; charset=UTF-8" http-equiv=Content-Type>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <main>
  	<header class="text-center">
			<img class="logo" src="/images/logo_with_text_vertical_white.png" alt="Nani's Dough">

			<nav class="nav__social">
				<ul>
				  <li><a href="" title="" rel="nofollow"><img class="icons__fb" src="/images/facebook.svg" alt=""></a></li>
				  <li><a href="" title="" rel="nofollow"><img class="icons__i" src="/images/instagram.svg" alt=""></a></li>
				  <li><a href="" title="" rel="nofollow"><img class="icons__t" src="/images/twitter.svg" alt=""></a></li>
				</ul>
			</nav>

			<nav class="nav__main">
				<ul>
				  <li><a href="" title="">Doughnuts</a></li>
					<li><a href="" title="">Contact</a></li>
					<li><a href="" title="">About</a></li>
				</ul>
			</nav>
  	</header>


    {% block body %} {% endblock %}

  </main>

  
  <script src="/js/app.js"></script>
</body>
</html>
