<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta content="text/html; charset=UTF-8" http-equiv=Content-Type>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">

    <title>{{ title }}</title>
    <meta name="description" content="Nani's Dough - Best Doughnuts in Delray Beach">
  	<meta name="author" content="Nani Edry">
    <meta name="keywords" content="doughnuts,donuts,dough,nani,delray,fl,florida">
    <meta NAME="Geography" CONTENT="Delray Beach, Fl">
    <meta NAME="Language" CONTENT="English">

  	<!-- Social: Twitter -->
		<meta name="twitter:card" content="Nani's Dough">
		<meta name="twitter:site" content="@nanis_dough">
		<meta name="twitter:title" content="Nani's Dough">
		<meta name="twitter:description" content="Nani's Dough - Best Doughnuts in Delray Beach">
		<meta name="twitter:image:src" content="http://www.nanisdough.com/images/logo_shareable.jpg">

		<!-- Social: Facebook / Open Graph -->	
		<meta property="fb:app_id" content="">
		<meta property="og:url" content="http://www.nanisdough.com">
		<meta property="og:type" content="article">
		<meta property="og:title" content="Nani's Dough">
		<meta property="og:image" content="http://www.nanisdough.com/images/logo_shareable.jpg"/>
		<meta property="og:description" content="Nani's Dough - Best Doughnuts in Delray Beach">
		<meta property="og:site_name" content="Nani's Dough">
		<meta property="article:author" content="https://www.facebook.com/Nanis-1496806157314602">

    <link rel="stylesheet" href="/css/style.css" />
    <link href="/vendor/css/sweetalert2.css" rel="stylesheet">
    <link href="http://vjs.zencdn.net/5.6.0/video-js.css" rel="stylesheet">

    <!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>

  <main>
  	{% include './header.html' %}


    {% block body %} {% endblock %}

  </main>

  <script src="/vendor/js/jquery-1.12.0.min.js"></script>
  <script src="/vendor/js/instafeed.min.js"></script>
  <script src="/vendor/js/imagesloaded.pkgd.min.js"></script>
  <script src="/vendor/js/masonry.pkgd.min.js"></script>
  <script src="http://vjs.zencdn.net/5.6.0/video.js"></script>
  <script src="/vendor/js/sweetalert2.min.js"></script>
  <script src="/js/app.js"></script>

  {% if isProd %}
    <script>
      googleAnalytics();
    </script>
  {% endif %}
</body>
</html>
